.good {
    background-color: #0c0;
}

.moderate {
    background-color: #FFFF00;
}

.usg {
    background-color: #FF9900;
}

.un {
    background-color: #FF0000;
}

.vun {
    background-color: #990066;
}

.haz {
    background-color: #660000;
}